/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-image: url('https://img.freepik.com/premium-photo/quotiot-agriculture-smart-farming-equipment-realtime-monitoringquot_1168612-405887.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;

}

/* Full-screen overlay */
body::after {
  content: '';
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 100vh;
}

/* Main content container */
.main {
  position: relative;
  top: 90px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

/* Image styles */
img {
  width: 3rem;
}

/* Text styles */
.text {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Paragraph styles */
.para {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 1.5rem 2rem;
}

/* Card container */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Card styles */
.card {
  border-radius: 8px;
  padding: 0 30px;
  width: 60vw;
  max-width: 400px;
  height: 170px;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Button styles */
.button {
  width: 8rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #f3ce00;
  color: white;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: aliceblue;
  color: #f3ce00;
  box-shadow: 1px 1px 1px 1px #f3ce00;
  transition: background-color 0.5s ease;
}

/* Responsive design */
@media only screen and (max-width: 1023px) {
  .text {
    position: static;
    transform: none;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 855px) {
  .main {
    overflow: auto;
  }

  .text {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 3rem;
    left: 3rem;
  }

  .card {
    width: 90vw;
  }

  video {
    width: 95vw;
    max-height: 60vh;
  }

  .button {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 730px) {
  .text {
    font-size: 1.8rem;
  }

  .para {
    margin: 1rem 2rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 1.5rem;
  }

  .para {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .card-container {
    flex-direction: column;
  }

  .text {
    font-size: 1.5rem;
    top: 1rem;
    right: 3rem;
    left: 3rem;
  }

  .card {
    width: 90vw;
    max-width: 300px;
    height: 170px;
  }

  .para {
    margin: 1rem;
  }

  .button {
    margin-top: 1rem;
  }
}

/* iPad Air and iPad Mini specific styles */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
  .text {
    top: 0.0001rem;
  }

  .para {
    margin-top: 5rem;
  }
}

@media only screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
  .text {
    top: 0.0001rem;
  }

  .para {
    margin-top: 5rem;
  }
}

/* Larger screens (min-width: 1024px) */
@media only screen and (min-width: 1024px) {
  .card {
    height: 170px;
  }

  .button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(120%) scale(0.9);
    width: 15%;
    height: 0.1rem;
  }

  .video {
    width: 95vw;
    max-height: 20vh;
  }

  .text {
    top: 0.0001rem;
    font-size: 130%;
  }

  .para {
    margin-bottom: 3px;
    margin-top: 1rem;
  }
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.bg-light1 {
  background-color: aliceblue;
}

.bg-dark1 {
  background-color: slategray;
}